*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#container{
  width: 84%;
  max-width: 1280px;
  min-width: 512px;
  margin: 0 auto;
}

header {
   position:relative;
   height: 8rem;
   background: #333;
   box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
 }

  header h1{
    position: absolute;
    top: 3rem;
    right: 3rem;
    font-size: 2rem;
    color: white;
  }

  li {
  margin-bottom: .5rem;
}

nav {
  padding: 1rem 3rem ;
  background: #333;
}

  nav ul{
    display: flex;
    flex-direction: row;
  }

  nav ul li{
    margin-right: 2rem;
  }

  nav ul li a {
    color: white;
  }

main{
  display: flex;
  flex-direction: row;
}

    /* 地図 */
    #location {
      padding: 4% 0;
    }
    #location .wrapper {
      desplay: flex;
      justify-content: space-between;
    }
    .location-info {
      width: 22%
    }
    .location-info p {
      padding: 12px 10px;
    }
    .location-map {
      width: 74%;
    }

    /* iframe */
    iframe {
      width: 100%;
    }


    #slideContainer {
     width: 100%;
     margin: 2em auto;
    }

footer {
  padding: 2rem 3rem;
  text-align: center;
  background: #333;
  color: white;
}
